.n-1{
	/* displaY:block; */
	background-color:#BE3144;
	width:100%;
	float:right;
	position:fixed;
	top:0%;
}
header{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color:#242427;
	height:100vh;
	text-align:center;
}
.d-1 .n-1>a{
	float:right;
	display:block;
	text-decoration:none;
	color:white;
	padding:20px;
	font-size:150%;
	/* border-left:1px soild white; */
}
header>h1{
	font-size:300%;
	color:white;
}
header>h3{
	font-size:150%;
	color:#BE3144;
	padding-top:1%;
}
.d-2{
	text-align:center;
	background-color:#45567D;
	padding-left:1%;
	padding-top:5%;
}
.d-2>h1{
	color:white;
	padding-bottom:3%;
}
.d-2 .gallery{
	
    display:inline-block;
	width:45%;
	height:inherit;
}
.d-2 .gallery img{
	width:100%;
	height:500px;
}
.d-2 .gallery{
	padding:0px;
	margin:0px;
	padding-left:2%;
	padding-bottom:2%;
}
.gallery>a{
	margin:0px;
	padding:0px;
}
 .gallery .des{
	 /* display:inline-block; */
	color:white;
	text-align:center;
	padding:30px;
	background-color:#303841;
	margin:0px;
}
.d-3{
	display:inline-block;
	padding:30px;
	margin-top:3%;
	width:30%;
}
.d-3>a{
	background-color:#303841;
	text-decoration :none;
	color:white;
	padding:4%;
	text-align:center;
	font-size:150%;
	
}
.f-1{
	text-align:center;
	padding-top:10%;
	background-color:#303841;
	color:white;
	padding-bottom:3%;
}
.d-4>h1{
	font-size:400%;
	padding-bottom:1%;
	word-spacing:5px;
	}
	.d-4>h3{
		font-size:250%;
		word-spacing:3px;
		padding-bottom:2%;
	}
	.d-4>h4{
		font-size:200%;
		/* padding-bottom:1%; */
	}
		.n-2{
			padding:50px;  
		padding-bottom:20%;
		}
	.n-2>a{
		text-decoration:none;
		color:white;
		font-size:200%;
		/* padding:20px; */
		padding-left:30px;
		padding-right:30px;
		vertical-align:middle;
		border:1px solid white;
		margin-left:1%;
	}
	.new-1{
		border:3px solid #BE3144;
	}
	.d-5{
		color:white;
		text-align:center;
		font-size:150%;
	}
	.d-5 p>a{
		text-decoration:none;
		color:grey;
	}
	#i-1{
	}
	
	
